/* reservia.css */
* {
    font-family:'Raleway', sans-serif	;
}

header {
    display: flex;
    align-items: center;
}

header nav {
    margin: 20px;
    padding: 20px;
}
body
{
    background-color: white;
    color: black;
    font-size: 1.0em;
    width: 90%;
    text-align: justify;
}

.sectionrecherche
{
    display: inline-block;  
    border: 1px;    
    background-color white;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    vertical-align: top;
    margin-right: 2%;
}

.cercle { 
  display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; 
    width: 50px; 
    background-color: #DEEBFF;
    border-radius: 50%; 
      margin: -3px;
<!--		text-align:center;
    vertical-align: middle; -->
} 

.libelle {
	font-size: 20px;
	margin:10px;
	}
	
	i { 
	color: #0065FC;
	align-items: center;
	}
    
    .bandeau_filtre {
        display: flex ;
        width: 100%;
        flex-wrap: wrap;
        font-size: 20px;
        font-weight: 700;
        align-items: center;
        justify-content: space-around;
        }
		
	.filterButton {
		display: flex;
		margin: auto;
		background-color: white;
		height: 46px;
		border-radius: 23px;
		text-align:center;	
		border: 2px solid #d9d9d9;
		}
	

.hebergements
{display: flex
}
.sub_hebergements {
    background-color: #F2F2F2;
    width: 66%;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.populaires
{
    display: flex;
    background-color: #F2F2F2;
    width: 33%;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}        
.activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
}

.sub_hebergements h2
{
    width: 100%;
}
.activites h2
{
    width: 100%;
}

.imageactivite {
	display: flex;
	text-align:	 left;
    justify-content: center;
	width: 240px;
	background-color: white;
	overflow:hidden;
	flex-direction:	column;	
	border: 5px solid white;
	border-radius: 15px;
	box-shadow: 10px 10px 5px grey;
	margin: 10px;
    font-weight: 700;
	}


.libelle_activite {
    margin: 20px;
    font-size: 15px;
    font-weight: 700;
}
        
    
footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #F2F2F2;
    padding: 10px; 
    margin-top: 20px;
}

footer ul
{
    list-style-type: none;
}