/* reservia.css - definitions globales */

* {
    font-family:'Raleway', sans-serif	;
}

body
{
    background-color: white;
    color: black;
    font-size: 16px;
    width: 100%;
    max-width: 1440px;
    min-width: 375px;
    /*text-align: justify; */
    margin: 0px;
}

main {
    width: 100%;
}

i { 
	color: #0065FC;
	align-items: center;
}

/*header */

header, main {
    padding-left: 50px;
    padding-right: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; 
    align-items: center;
    /* overflow:hidden; */
    font-weight:500;
    height: 100px;
}

#header_menu {
    display: flex;
    align-items: center;
    }

header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header #logo  {
    float:left;
    margin-left: 10px;
}

header nav ul {
    display: flex; 
    justify-content: space-between;
    /*flex-direction: row;*/
    width: 300px;
    list-style: none;
}

/*
nav li {
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;

}

*/

/* header nav ul li a:hover { */
a:hover {
    height: 30px;
    border-top : 2px solid #0065FC;
    
}

header nav a {
    margin-right: 10px;  
    }

/* definition de la section recherche */

.recherche
{
    display: inline-block;  
    border: 1px;    
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    vertical-align: top;
   /* margin-right: 2%; */
}

.champ_recherche{
    display: flex;
    border: 2px solid #d9d9d9; 
    border-radius: 15px;
    width: fit-content;
    font-size: 20px;
    height: 46px;
    align-items: center;
    text-align:center;	    
    margin-top: 20px; 
    margin-bottom: 20px;
}
 
.bouton_recherche_gauche { 
	display: flex;
    align-items: center;
	justify-content: center;
	width: 50px;
    height: 50px; 
    background-color: #d9d9d9;
    /* color: black; */
    border-radius: 15px 0px 0px 15px   ;  
} 

 .bouton_recherche_gauche i {
    color: black;
 }

.input_recherche { 
    height: 44px;
    background-color: white;
    border: 2px solid #d9d9d9; 
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    margin-left: -4px;
}


/* a supprimer
.champ_recherche .bouton_recherche_gauche INPUT {
    margin-left: 10px;
}
*/

.champ_recherche button  {
    border :none ;
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border-radius: 0px 15px 15px 0px   ;
    background-color: #0065FC;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
 }

 .champ_recherche .loupe_recherche {
    display: flex;
    align-items: center;
	justify-content: center;
	width: 50px;
    height: 50px; 
    background-color: #0065FC;
    border-radius: 15px  ; 
    display: none; 
 }

 .loupe_recherche i {
    color:white;
}


.cercle_icone_info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid #d9d9d9;
    margin-right: 20px;
}

.infos {
    display:flex;
    align-items: center;
}

.libelle_filtre {
	font-size: 20px;
    margin-left: 15px;
    margin-right: 20px;
}

.libelle_images {
    font-weight: 700;
    font-size: 15px;
}
	

#bandeau_filtre {
    display: flex ;
    width: 100%;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}

.cercle_filtre { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; 
    width: 50px; 
    background-color: #DEEBFF;
    border-radius: 50%; 
    margin-top: 0px;
    margin-left: -2px;
} 

.bouton_filtre {
	display: flex;
	background-color: white;
	height: 46px;
	border-radius: 25px;
	text-align:center;	
    align-items: center;
	border: 2px solid #d9d9d9;
    margin: 5px 0px 5px 20px;
}
	
.bouton_filtre:hover {
    box-shadow: 10px 10px 5px grey;
    background-color: #b3c7e2;
}

/* definition de la section herbergement */

.hebergements {
    display: flex;
    flex-wrap: wrap; 
    max-width: 1340px;
    justify-content: space-between;
    height: fit-content;
}

.sub_hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
    max-width: 800px;
    min-width: 375px;
    border-radius: 15px;
    padding: 40px;
    /*margin-right: 40px;  */
    }

    /*
.sub_hebergements,  .populaires {
        margin-top: 20px;
        margin-bottom: 20px;
    }
*/

.sub_hebergements h2 {
    width: 100%;
    padding-left: 0px;
}

.hebergement {
	display: flex;
    flex-direction:	column;	
	text-align:	 left;
    width: 240px;
    min-width: 240px;
    height: 190px;
    Background-color: white;
	overflow:hidden;
	border: 5px solid white;
	border-radius: 15px;
    margin: 0px 0px 40px 0px; 
    font-weight: 400;
    
}

.hebergement img {
    width: 100%;
    height: 113px;
    object-fit: cover;
}

.sub_hebergements p {
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    width: 100%;
}

/* colonne populaire */

.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #F2F2F2;
    /* width: 420px33; */
    min-width: 290px;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}


.populaire {
    display: flex;
    text-align:	 left;
    width: 335px;
    height: 145px;
    background-color: white;
    overflow:hidden;
    border: 5px solid white;
    border-radius: 15px;
    margin: 15px 0px 15px 0px; 
    font-weight: 400;
} 

.populaire_description {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.populaire_description span i {
    /*vertical-align: bottom; */
    text-align: right;
    align-content: flex-end;
}

.populaire img {
    max-width: 130px;
    width: 100%;
    height: 135px;
    object-fit: cover;    
}

.populaires i {
    color: black
}

.populaires h2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 10px;
}

/* changement de couleurs des etoiles */

.hebergement  i, .populaire_description i {
    color:blue
}
.hebergement:nth-child(2) i:nth-child(5) , .hebergement:nth-child(4) i:nth-child(5), .hebergement:nth-child(5) i:nth-child(5) , .hebergement:nth-child(5) i:nth-child(4), .hebergement:nth-child(6) i:nth-child(5) {
    color: #DEEBFF;
}
.populaire:nth-child(3) i:nth-child(5) , .populaire:nth-child(4) i:nth-child(5)   {
    color: #DEEBFF;
}


 /* definition de la section activité */
.activites {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    background-color: white;
    max-width: 1340px;
    overflow:hidden;
}


.activites h2 {
    width: 100%;
}


#colonnes_activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
} 

/* .colonne_activites_1, .colonne_activites_2 , .colonne_activites_3 , .colonne_activites_4  */

 #colonne_activites_2 , #colonne_activites_4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colonne_activites  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

 
.activite_format1 , .activite_format2 , .activite_format3 , .activite_format4 {
    display: flex;
    flex-direction: column;
    text-align: left; 
    width: 304px;
    min-width: 304px;
    justify-content: center;
    background-color: white;
    overflow:hidden;
	border: 5px solid white;
	border-radius: 15px;
	box-shadow: 5px 5px 5px grey;
    font-weight: 700;
    margin:10px 0px 10px 0px;
}

.libelle_activite {
    font-weight: 700;
    height: 30px;
    font-size: 20px;
    margin:10px;
}

.activite_format1  img  {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.activite_format2  img  {
    height: 190px;
    object-fit: cover;
    width: 100%;
}

.activite_format3  img  {
    height: 120px;
    object-fit: cover;
    width: 100%;
}




/* definition du pied de page */

footer
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-color: #F2F2F2;
    padding: 10px; 
    margin-top: 20px;
    list-style-type: none;
}

footer .footer-item ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

/* modification associées au site responsive */

@media screen and (max-width: 380px) {


    .bandeau_filtre, footer { 
        flex-direction: column;
        align-items: flex-start;
    }


/* dans le header : premiere ligne  logo et "s'inscrire" ; deuxieme = navigation */

    header  {
        flex-direction: column;
    }

    header nav { 
        justify-content: space-between;
    }    
   
    header nav ul {
        margin-left: 0px;
        justify-content: space-around;
        order: 3;
    }


    /*centrer tous les elements avec image en largeur */

    
    body {
        margin: auto;
    }

    header, main {
        padding-left: 0px;
        padding-right: 0px;
        /* align-content: center; */
        /*align-items: center; */
        margin-left: auto;
        margin-right: auto;
    }

    .sub_hebergements , .populaires , #colonnes_activites {
        margin: auto;
        /*margin-right: auto; */
    }
    
    /* faire passer les populaires avant les hebergements */

    .hebergements .populaires {
        order: 1;
        } 
    .hebergements .sub_hebergements {
            order: 2;
            } 
    


    /* dans le champ recherche , changer le mot rechercher par la loupe avec encadrement radius */
    .champ_recherche button {
        display: none;}   

    .champ_recherche .loupe_recherche {
        display:contents;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px; 
        background-color: #0065FC;
        border-radius: 15px  ; 
        margin-left: -15px;
        }



    /* les tailles d'images des activités sont les memes que pour les populaires     */
    .activite_format1 img , .activite_format2 img , .activite_format3 img {
        width: 335px;
        height: 135px;
    }
    /* background hebergement blanc */
    .sub_hebergements {
        background-color: white;
    }

    /* renforcement cercle mais fonctionne pas  */
    .cercle_icone_info {
        height: 25px;
        width: 25px;
    }

    /* ombrage des etiquettes de hebergements */
    .hebergement {
        box-shadow: 10px 10px 5px grey;
    }
}
